.custom-quill-editor .ql-container {
    border: 1px solid #007bff; 
  }
  
  .custom-quill-editor .ql-toolbar {
    border: 1px solid #007bff; 
  }
  
  .custom-quill-editor .ql-editor {
    border: 1px solid #007bff; 
  }
  